@media screen and (min-width:600px) and (max-width:500px);
body{
    
}
div{ display: block;}
.container1{
    display: flex;
    display: inline-block;
}
.box1{
    position: relative;
    top: 30px;
    cursor: pointer;
    font-size: medium;
}
.box2{
    position: relative;
    top: 10px;
    left: 80%;
    display: inline-block;
    cursor: pointer;
    font-size: medium;
}
.box2-1 {
    padding-left: 15%;
    padding-top: 5px;
    font-weight: bold;
    color: white;
}

.box2-2 {
    padding-left: 15%;
    padding-top: 5px;
    font-weight: bold;
    color: wheat;
}
.box2-2 {
    padding-left: 15%;
    padding-top: 5px;
    font-weight: bold;
    color: white;
}
.box2-3 {
    padding-left: 15%;
    padding-top: 5px;
    font-weight: bold;
    color: white;
    display: inline-block;
}
.box2-4 {
    position: relative;
    left: 80px;
    bottom: 50px;
}

.parent {
    position: relative;
    left: -50px;
    top: -130px;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.box3 {
    color: white;
    font-size: 30px;
    position: relative;
    left: 80px;
    top: 100px;
}
.box3-1 {
    color: white;
    font-weight: lighter;
    position: relative;
    left: 80px;
    top: 70px;
}

.box3-2 {
    color: white;
    font-weight: normal;
    position: relative;
    left: 80px;
    top: 55px;
}

.box3-3 {
    color: white;
    font-weight: normal;
    position: relative;
    left: 80px;
    top: 41px;
}

.btn {
    width: 140px;
    color: black;
    font-size: 12px;
    font-weight: bolder;
    padding: 12px 0;
    background: white;
    border: 0;
    border-radius: 20px;
    margin-left: 80px;
    margin-top: 30px;
    cursor: pointer;
}

.container3 {
    position: relative;
    top: 500%;
    margin-top: 350px;
    margin-left: calc(-300px);
}

.grid-container {
    display: inline;
    display: grid; 
    grid-template-columns: 250px 250px;
    grid-row-gap: 40px;
}
    
.box {
    border-radius: 10px;
    width: 200px;
    height: 200px;
    cursor: pointer;
    margin-top: 30px;
    transition-duration: 0.5s;
    background-image: url(/kalhari\ .png);
    background-size: cover;
    grid-row: 1/2;
    grid-column: 1/2;
}

.card {
    color: white;
    font-size: x-large;
    padding-top: 10px;
}
.card1 {
    color: white;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.box {
    /* border: 1px solid black; */
    border-radius: 10px;
    width: 200px;
    height: 200px;
    cursor: pointer;
    margin-top: 30px;
    transition-duration: 0.5s;
}
.box6 {
    background-image: url(/pyramid.png);
    background-size: cover;
    grid-row: 1/2;
    grid-column: 2/3;
}
.grid-container {
    display: inline;
}
.grid-container {
    /* display: grid; */
    grid-template-columns: 250px 250px;
    grid-row-gap: 40px;
}

.box {
    /* border: 1px solid black; */
    border-radius: 10px;
    width: 200px;
    height: 200px;
    cursor: pointer;
    margin-top: 30px;
    transition-duration: 0.5s;
}

.box5 {
    background-image: url(/shara\ desert\ \(1\.jpg);
    background-size: cover;
    grid-row: 1/2;
    grid-column: 1/2;
}

card {
    color: white;
    font-size: x-large;
    padding-top: 10px;
}
.card1 {
    color: white;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.box {
    /* border: 1px solid black; */
    border-radius: 10px;
    width: 200px;
    height: 200px;
    cursor: pointer;
    margin-top: 30px;
    transition-duration: 0.5s;
}
.box {
    /* border: 1px solid black; */
    border-radius: 10px;
    width: 200px;
    height: 200px;
    cursor: pointer;
    margin-top: 30px;
    transition-duration: 0.5s;
}
.box6 {
    background-image: url(/pyramid.png);
    background-size: cover;
    grid-row: 1/2;
    grid-column: 2/3;
}

card2 {
    color: white;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.box7 {
    background-image: url(./kalhari\ .png);
    background-size: cover;
    grid-row: 2/3;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column: 1/2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.box8 {
    background-image: url(/al\ baghwat.png);
    background-size: cover;
    grid-row: 2/3;
    grid-column: 2/3;
}

.card4 {
    color: white;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

